replicaCount: 1

image:
  repository: pivotai/ainon-app
  tag: "latest"
  pullPolicy: Always

imagePullSecrets:
  - name: dockerhub-secret

serviceAccountName: "aws-secret-csi"


podLabels:
  app: celery-beat
  tier: backend 

command:
  enabled: true
  value:
    - celery
    - -A
    - config.celery_aks
    - beat
    - -l
    - INFO

env:
  enabled: true
  items:
    - name: REDIS_HOST
      value: "redis-service"
    - name: ENV_FILE_NAME
      value: "env.docker.json"

configMaps:
  backendEnv:
    name: backend-env
    key: env.docker.json

volumes:
  - name: backend-env-volume
    configMapName: backend-env
    defaultMode: 420

volumeMounts:
  - name: backend-env-volume
    mountPath: /ainon/env.docker.json
    subPath: env.docker.json

secretsStore:
  enabled: true
  volumeName: secrets-store-inline
  mountPath: "/ainon/aws-secret"
  secretProviderClassName: "aws-secrets"

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

resources:
  requests:
    cpu: 200m
  limits:
    cpu: 500m

#--- ohter params -----------
nameOverride: ""
fullnameOverride: ""

service:
  enabled: false
  type: NodePort
  port: []  


serviceAccount:
  create: false
  automount: false
  annotations: {}
  name: ""

podAnnotations: {}
podSecurityContext: {}
securityContext: {}
#-probes
# livenessProbe:
#   httpGet:
#     path: /
#     port: http
# readinessProbe:
#   httpGet:
#     path: /
#     port: http

ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

httpRoute:
  enabled: false
  annotations: {}
  parentRefs:
  - name: gateway
    sectionName: http
    # namespace: default
  # Hostnames matching HTTP header.
  hostnames:
  - chart-example.local
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /headers
nodeSelector: {}
tolerations: []
affinity: {}

