replicaCount: 1

image:
  repository: pivotai/ainon-app-proxy
  tag: "latest" 
  pullPolicy: Always 

imagePullSecrets:
  - name: dockerhub-secret

podLabels:
  app: proxy
  tier: frontend 
service:
  type: ClusterIP
  port: 3000
  containerPort: 3000
  taragetPort: 3000

ingress:
  enabled: true
  className: nginx
  annotations:
    kubernetes.io/ingress.class: nginx
  hosts:
    - host: "www.testainondomain.com"
      paths:
        - path: /(.*)
          pathType: ImplementationSpecific
  tls: []

env:
  enabled: false

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80  

resources:
  requests:
    cpu: 200m
  limits:
    cpu: 600m

#--- ohter params -----------

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: false
  automount: false
  annotations: {}
  name: ""
podAnnotations: {}

podSecurityContext: {}
securityContext: {}

httpRoute:
  enabled: false
  annotations: {}
  parentRefs:
  - name: gateway
    sectionName: http
  hostnames:
  - chart-example.local
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /headers

# livenessProbe:
#   httpGet:
#     path: /
#     port: http
# readinessProbe:
#   httpGet:
#     path: /
#     port: http


nodeSelector: {}

tolerations: []

affinity: {}
